<div class="container">
  <div class="row">
  <%= bootstrap_form_for(@movie, :html => {:multipart => true}) do |f| %>
     <% if @movie.errors.any? %>
      <div>
        <%= pluralize(@movie.errors.count, "error")%> prevented this from movie being submitted:
        <ul>
          <% @movie.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
     <% end %>
      <%= f.text_field :title %>
      <%= f.date_field :release_date %>
      <%= f.text_field :director %>
      <%= f.number_field :runtime_in_minutes %>
      <%= f.file_field :poster_image_url %>
      <%= f.text_area :description %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>