<div class="container">
  <div class="row">
     <% if current_user %>
      <% if current_admin %>
        <%= link_to "Back to Admin panel", admin_users_path %>
      <% end %>
    <% end %> <br/>
    <% if impersonator %>
       <strong>You're currently signed in as an impersonator of</strong> <%= impersonator.full_name %>
    <% end %>
    <h1>Rotten Mangoes</h1>
    <button type="button" class="btn btn-info"><%= link_to "Submit a movie!", new_movie_path %></button>
    <hr>
    <%= form_tag movies_path, :method => 'get' do %>
      <%= label_tag(:q, "Search for: ") %><br/>
      <%= text_field_tag :keyword %><br/>
      <%= label_tag(:q, "Runtime: ") %>  <%= select_tag(:runtime_in_minutes, options_for_select([['Please select', 0],['Under 90 minutes', 1], ['Between 90 and 120 minutes', 2],['Over 120 minutes', 3]],0)) %><br/>
          <%= submit_tag "Search", :name => nil %>
    <% end %>
    <hr>
    Search Results:
    <% @movies.each do |movie| %>
      <div class="list-group">
        <%= render partial: "movie", locals: {movie: movie} %> 
      </div>
    <% end %>
  </div>
</div>