<div class="container">
  <div class="row">
    <h1>Rotten Mangoes</h1>
    <button type="button" class="btn btn-info"><%= link_to "Submit a movie!", new_movie_path %></button>
    <hr>
    <% @movies.each do |movie| %>
      <div class="list-group">
        <%= link_to movie.title, movie_path(movie), class: "list-group-item active" %>
      <span class="list-group-item"><%= link_to image_tag(movie.poster_image_url.url(:thumb).to_s), movie_path(movie) %></span>
      <span class="list-group-item"><%= formatted_date(movie.release_date) %></span>
      <span class="list-group-item">Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</span>
      <span class="list-group-item"><%= movie.description %></span>
      </div>
    <% end %>
  </div>
</div>