<div class="container">
  <div class="row">
  <%= bootstrap_form_for([:admin, @admin_user]) do |f| %>
     <% if @admin_user.errors.any? %>
      <div>
        <%= pluralize(@admin_user.errors.count, "error")%> prevented this from movie being submitted:
        <ul>
          <% @admin_user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
     <% end %>
      <%= f.text_field :title %>
      <%= f.text_field :director %>
      <%= f.email_field :email %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <%= f.check_box :admin %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>