<h1>ADMIN PANEL</h1>
<div class="container">
  <div class="row">
    <%= paginate @admin_users %>
    
    <div class="panel panel-default panel-info">
      <div class="panel-heading">LIST OF ALL USERS</div>
        <table class="table">
          <tr>
            <td><strong>Firstname</strong></td>
            <td><strong>Lastname</strong></td>
            <td><strong>Email</strong></td>
            <td><strong>Admin?</strong></td>
            <td><strong>Config</strong></td>
          </tr>

        <% @admin_users.each do |user| %>
          <tr>
             <td><%= user.firstname %></td>
             <td><%= user.lastname %></td>
             <td><%= user.email %></td>
             <td><%= user.admin? %></td>
             <td>
              <%= link_to "Edit User",  edit_admin_user_path(user) %> |
              <%= link_to "Delete User",  admin_user_path(user), method: :delete, confirm: "You sure?" %> 
              <% if !user.admin? %>
               <!--  | <%= link_to "Switch to user", user_path(user.id) %> -->
               <%= link_to "Switch to user", "/admin/change_users/#{user.id}" %>
              <% end %>
             </td>
          </tr>
        <% end %>
        </table>
    </div><!--END OF PANEL DIV-->
  </div><!--END OF ROW DIV-->

  <div class="row">
  <button type="button" class="btn btn-info"><%= link_to "Create new user", new_admin_user_path %></button>
  </div>
</div>