<div class="container">
  <div class="row">
    <%= link_to "Back to movie", movie_path(@movie) %> <br/>
    <h2>Write a review of <em><%= @movie.title %></em>. </h2>
  </div>
  <div class="row">
  <%= bootstrap_form_for([@movie, @review]) do |f| %>
      <% if @review.errors.any? %>
        <div>
          <%= pluralize(@review.errors.count, "error") %> prevented this from being saved:
          <ul>
            <% @review.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.text_area :text %>
      <%= f.number_field :rating_out_of_ten %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>